#navbar{
    height: 120px; 
    background-color: white !important; 
    padding-left: 30px; 
    padding-right: 30px; 
    padding-top: 40px;
}
.filter-button{
    color: white !important;
    background-color:#8FA3B9 ;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}
.list-button{
    color: white !important;
    background-color:#3D4853 ;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 50px;
    font-weight: bold !important;
    margin-left: 5px; 
    margin-right: 5px;
}
#dropdown-button{
    background-color: white !important; 
    color: #8FA3B9; 
    font-weight: bold; height: 30pt;
}
.map-button{
    color: white !important;
    background-color:#C4C4C4 ;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}
.add-new-button{
    background-color: #9DD47A;
     color: white;
     border: none;
     border-radius: 5px;
     height: 30pt;
     font-weight: bold;
     margin-left: 5px; margin-right: 5px;
}
.trash-button{
    color: white !important;
    background-color:transparent ;
    border: none;
    border-radius: 5px;
    float: right;
}
.display-button{
    color: white !important;
    background-color:transparent ;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    float: left;
}
.format{
    float: left;
    color: white;
    margin-top: 2px;
}

.me-auto{
    display: flex; 
place-content: space-between; 
}
.ms-auto{
    display: flex; 
place-content: space-between; 
}

.container{
    margin-top: 20px;
}

#cfooter{
    background-color: #8FA3B9;
}


/*Add new Popup CSS */
.add-button{
    background-color: #9DD47A;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30pt;
    width: 45pt;
    font-weight: bold;
    float: right;
    position: relative;
    cursor: pointer;
  }
  
  .modal-content{
    padding-bottom: 20px; 
    border-radius: 0px;
  }
  .modal-header {
    position: relative;
    height: 60px;
    font-size: 1rem;
    background-color: #EFC855;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0px;
  }
  .modal-title{
    color: white;
    margin-left: 10px !important;
  }
  #cancel{
    color: white; margin-right: 1px;
  }
  .add-popup > * {
    margin: 10px 20px;
  }
  
  /*delete popup */
  .btn-del , .btn-canc{
    color: white;
    border: none;
    border-radius: 5px;
   
    float: right;
    position: relative;
    cursor: pointer;

    margin: 15px 5px 5px 5px;

  }

  .form-header{
    position: relative;    
    font-size: 1rem;
    background-color: #EFC855;
   padding: 10px 10px 10px 10px;
   height: 130px;
   text-align: center;
    color: white;
  }
  .modal-body{
    padding: 0 0 0 0;
  }
  




